* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(147, 202, 250);
    font-family: 'Poppins';
}

.main-container {
    background-color:rgb(218, 230, 241) ;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.img-header img {
    width: 20%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a {
    flex: 1;
   text-decoration: none; 
   background-color: rgb(7, 92, 92);
   color: white;
   padding: 10px;
   border: 1px solid white;
   text-align: center;
}

.menu-header a:hover{
    background-color:rgb(192, 220, 245);
    color: black;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.paket-container {
    width: 300px;
    margin: 10px;
}

.paket-container h4{
    color:rgb(117, 117, 118)
}

.paket-container img {
    width: 100%;
}

.video-container {
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container iframe {
    width: 100%;
    height: auto;
}

.search-container{
    margin-bottom: 10px;
}

.search-container input [type='text']{
    padding: 5px;
    margin-right: 10px;
}

.submit-container input [type='text']{
    padding: 5px;
}

.brand-container {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.brand-container img {
    width : 60%;
}

.brand-container h1 {
    color: rgb(230, 239, 246);
    margin : 0;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px #000;
}

.brand-container h2 {
    color: rgb(230, 239, 246);
    margin : 0;
    font-size: 2.5vw;
    text-shadow: 2px 2px 8px #000;
}